@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {


  color: rgb(0, 0, 0);
  font-family: Special Gothic Expanded one;
  font-family: ;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}